body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 50px;
  background-image: url(./experienced-tattoo-artist-working-client-tattoo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Trattatello', fantasy;
  color: black;
  margin: 0; 
}

.login {
  border: 5px solid rgb(255, 255, 255);
  backdrop-filter: blur(30px);
  padding: 20px; 
  border-radius: 10px; 
  background-color: rgba(0, 0, 0, 0.5);
}

.dj {
  padding: 20px;
  font-family: 'Trattatello', fantasy;
  color: aliceblue;
}

h1 {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  text-align: center; 
  margin: 0; 
  color: aliceblue;
}

p {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  text-align: center;
  margin: 0;
  color: aliceblue;
}

button {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: transparent; 
  color: rgb(255, 255, 255);
  padding: 10px 10px; 
  cursor: pointer;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  width: 100%;
}